block content
  
  .pastac-edit-product

    .alert.alert-warning(ng-hide="ctrl.product") Unknown product

    // Pane for single record
    .card(ng-hide="!ctrl.product")
      .row
        .col-md-12
          .alert.alert-danger(ng-hide="!ctrl.errmsg") {{ctrl.errmsg}}
          h2 {{ctrl.product.name}}
          small
            | {{ctrl.product.supplier.company_name}}
            br
            br
          ul.nav.nav-tabs
            li.active
              a(data-target="#tab-product-summary" data-toggle="tab") Summary
            li
              a(data-target="#tab-product-details" data-toggle="tab") Details
            li
              a(data-target="#tab-product-descriptions" data-toggle="tab") Description
            li
              a(data-target="#tab-product-notes" data-toggle="tab") Notes
            li
              a(data-target="#tab-product-metadata" data-toggle="tab") SEO
            li
              a(data-target="#tab-product-variants" data-toggle="tab") Variants
          br
          .actions-wrap.hide.NOTYET
            a.btn(ng-click="product_backButton()") Back to product list
            a.btn(ng-click="productVariant_backButton()" ng-hide="productVariant_showList()") Back to variant list
            a.btn.btn-success(ng-click="productSaveButton()") Save
          //- actions-wrap

          .tab-content.clearfix
            // Product summary pane
            #tab-product-summary.tab-pane.active
              label Product Categories
              // See http://mbenford.github.io/ngTagsInput/documentation/api#tagsInput
              tags-input(ng-model="ctrl.categoryTags" on-tag-added="ctrl.doAddCategory($tag)" on-tag-removed="ctrl.doRemoveCategory($tag)" add-from-autocomplete-only="true" placeholder="Add a category")
                auto-complete(source="ctrl.loadCategoryTags($query)" min-length="1" max-results-to-show="20" load-on-empty="true" load-on-focus="false")
              //- br
              //- | {{ctrl.categoryTags}}
              //- br
              //- | {{ctrl.product.long_description}}
              
              

            // Product details pane
            #tab-product-details.tab-pane
              .form-group
                label(for='product-id') Id
                input#product-id.form-control(ng-model="ctrl.product.product_id" type='text', placeholder='Product Id', readonly='readonly')
                br

                label(for='product-name') Name
                input#product-name.form-control(ng-model="ctrl.product.name" type='text', placeholder='Name')
                br

                label(for='product-categories') Categories
                input#product-categories.form-control(ng-model="ctrl.product.categories" type='text', placeholder='categories')
                br

                label(for='product-popularity') Popularity
                input#product-popularity.form-control(ng-model="ctrl.product.popularity" type='text', placeholder='')
                br

                label(for='product-teaIdAtSource') TEA Id at source
                input#product-teaIdAtSource.form-control(ng-model="ctrl.product.teaIdAtSource" type='text', placeholder='teaIdAtSource')
                br

            // Metadata pane
            #tab-product-descriptions.tab-pane
              .form-group
                label(for='product-shortDescription') Short Description
                input#product-shortDescription.form-control(ng-model="ctrl.product.shortDescription" type='text', placeholder='')
                br

                label(for='product-longDescription') Long Description
                //input#product-longDescription.form-control(ng-model="ctrl.product.long_description" type='text', placeholder='')
                // See https://github.com/lemonde/angular-ckeditor
                div(ckeditor="ckeditorOptions", ng-model="ctrl.product.long_description", ready="onReady()")
                br
                  
            // Metadata pane
            #tab-product-notes.tab-pane
              .form-group
                label(for='product-notes') Tasting Notes
                //input#product-notes.form-control(ng-model="ctrl.product.notes" type='text', placeholder='Enter notes here')
                // See https://github.com/lemonde/angular-ckeditor
                div(ckeditor="ckeditorOptions", ng-model="ctrl.product.notes", ready="onReady()")
                br

            // Metadata pane
            #tab-product-metadata.tab-pane
              h4 Metadata, used for SEO
              .form-group
                label(for='product-metaTitle') Title
                input#product-metaTitle.form-control(ng-model="ctrl.product.metaTitle" type='text', placeholder='metaTitle')
                br

                label(for='product-metaDescription') Description
                input#product-metaDescription.form-control(ng-model="ctrl.product.metaDescription" type='text', placeholder='')
                br

                label(for='product-metaKeywords') Keywords
                input#product-metaKeywords.form-control(ng-model="ctrl.product.metaKeywords" type='text', placeholder='')
                br

            #tab-product-variants.tab-pane
              
              div(ng-hide=" !productVariant_showList()")
                #productVariant_listDiv
              div(ng-hide="productVariant_showList()")
                h3
                  | {{productVariant_headingForRecordPane}} &nbsp;&nbsp;&nbsp;&nbsp;(pack size {{productVariant_record.components_qty}})
                ul.nav.nav-tabs
                  li.active
                    a(href="#tab-productVariant-summary" data-toggle="tab") Summary
                  li
                    a(href="#tab-productVariant-details" data-toggle="tab") Details
                  li
                    a(href="#tab-productVariant-pricing" data-toggle="tab") Pricing
                  li
                    a(href="#tab-productVariant-images" data-toggle="tab") Images
                  li
                    a(href="#tab-productVariant-notes" data-toggle="tab") Notes
                  li
                    a(href="#tab-productVariant-specs" data-toggle="tab" ng-hide="!haveCurrentVariant()") Specs
                  //li
                  //  a(href="#tab-productVariant-related" data-toggle="tab" ng-hide="!haveCurrentVariant()") Related
                  //li
                  //  a(href="#tab-productVariant-supplier" data-toggle="tab" ng-hide="!haveCurrentVariant()") Supplier

                .tab-content.clearfix

                  #tab-productVariant-summary.tab-pane.active
                    br
                    #productVariant_summaryDiv

                  #tab-productVariant-details.tab-pane
                    br
                    h4 Details

                  #tab-productVariant-pricing.tab-pane

                    //h3 Basic Pricing
                    br
                    .form-group
                      .checkbox
                        label
                          input(type="checkbox" ng-model="productVariant_record.is_free" ng-true-value="1" ng-false-value="0")
                          | This product is free

                    div(ng-hide="productVariant_record.is_free==1")
                      .form-inline
                        .form-group
                          label(for='productVariant-basicPrice') Our price
                          input#productVariant-basicPrice.form-control(ng-model="productVariant_record.last_price" type='text', placeholder='123.45')
                          br
                          //label(for='productVariant-wholesalePrice') Wholesale price
                          //input#productVariant-wholesalePrice.form-control(ng-model="productVariant_record.wholesale_price" type='text', placeholder='123.45')
                          label(for='productVariant-manufacturerPrice') Manufacturer price (RRP)
                          input#productVariant-manufacturerPrice.form-control(ng-model="productVariant_record.manufacturer_price" type='text', placeholder='123.45')

                      br
                      br
                      div(ng-if="productPricing_list.length == 0")
                        .actions-wrap
                          a.btn(ng-click="addPricing_BRKQTY()") Add quantity pricing
                      div(ng-repeat="price in productPricing_list")
                        div(ng-if="price.type == 'BRKQTY'")
                          h3
                            | Additional Rule - Break on Quantity
                            small &nbsp;&nbsp;&nbsp;&nbsp;(\#{{price.pricing_id}})
                          br
                          table.table
                            tr
                              th &nbsp;&nbsp;Qty
                              th &nbsp;&nbsp;Price
                              th
                                | Available for shared sale.
                            tr(ng-repeat="pq in price._pricingQty")
                              td
                                input.form-control(ng-model="pq.quantity", type='number')
                              td
                                input.form-control(ng-model="pq.price", type='number')
                              td.text-center
                                .checkbox-inline
                                  input(type="checkbox" ng-model="pq.shared_sale_ok" ng-true-value="1" ng-false-value="0")
                          .actions-wrap
                            a.btn(ng-click="addPricingQty(price)") Add another quantity
                        div(ng-if="price.type == 'DSCAMT'")
                          | Rule {{price.pricing_id}} - Discount by Amount
                        div(ng-if="price.type == 'DSCPCT'")
                          | Rule {{price.pricing_id}} - Discount by Percent

                    //- Components qty
                    //- 1
                    //-
                    //- Last price
                    //- 50
                    //-
                    //- Wholesale price
                    //- 0
                    //-
                    //- Is free


                  #tab-productVariant-notes.tab-pane
                    br
                    #productVariant_notesDiv

                  #tab-productVariant-related.tab-pane
                    h3 related

                  #tab-productVariant-specs.tab-pane
                    br
                    #productVariant_specsDiv

                  #tab-productVariant-images.tab-pane
                    br
                    div(ng-repeat="image in productVariantImage_list")
                      .col-md-4
                        img.img-responsive.thumbnail(ng-src="{{image.image_path}}")
                        hr

      //
      //  Now show the variants of this product
      //
      .row(ng-repeat="variant in ctrl.variants")
        .col-md-12
          hr
        .col-md-4
          h4
            | {{variant.name}}
            br
            | pack size {{variant.components_qty}}
          //- | Deleted:
          //- toggle(ng-model="variant.is_deleted" onstyle="btn-danger" offstyle="btn-success" on="Deleted" off="Available")
          //- br
          //- br

          div(ng-repeat="image in variant._productVariantImage_list")
            img.img-responsive.thumbnail.center-block(ng-src="{{image.image_path}}" style="max-height:250px;")

          
          
          
          
          
        .col-md-8
          button.btn.danger.pull-right(ng-hide="!variant.is_deleted") Deleted
          // See http://ziscloud.github.io/angular-bootstrap-toggle/
          toggle(ng-hide="variant.is_deleted" ng-model="variant.is_approved" onstyle="btn-success" offstyle="btn-info" on="Active" off="Inactive" size="btn-sm").pull-right
          ul.nav.nav-tabs
            li.active
              a(data-target="#pastac-edit-product-tab-summary" data-toggle="tab") Summary
            li
              a(data-target="#pastac-edit-product-tab-details" data-toggle="tab") Details
            li
              a(data-target="#pastac-edit-product-tab-pricing" data-toggle="tab") Pricing
            li
              a(data-target="#pastac-edit-product-tab-images" data-toggle="tab") Images
            li
              a(data-target="#pastac-edit-product-tab-notes" data-toggle="tab") Notes
            li
              a(data-target="#pastac-edit-product-tab-specs" data-toggle="tab") Specifications
            //li
            //  a(data-target="#tab-productVariant-related" data-toggle="tab") Related
            //li
            //  a(data-target="#tab-productVariant-supplier" data-toggle="tab") Supplier

          .tab-content.clearfix

            #pastac-edit-product-tab-summary.tab-pane.active
              br
              .alert.alert-danger(ng-hide="!variant.is_deleted") This product has been deleted
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              #productVariant_summaryDiv
                
              .form-group(ng-disabled="variant.is_deleted")
                label(for='product-metaTitle') Price
                input#product-metaTitle.form-control(ng-model="variant.last_price" type='text', placeholder='Price')
                br

                label Pack size
                input.form-control(ng-model="variant.components_qty" type='number', placeholder='')
                br

                  //- "components_qty":12,
                  //- "last_price":269.28,
                
                //- [{"product_variant_id":444,
                //- "product_id":384,
                //- "is_deleted":false,
                //- "name":"2014 Shiraz",
                //- "tea_id_at_source":null,
                //- "wholesale_price":0,
                //- "manufacturer_price":0,
                //- "cost_price":null,
                //- "sku":null,
                //- "manufacturer":"Brokenwood Wines",
                //- "manufacturer_sku":null,
                //- "supplier_sku":null,
                //- "barcode":null,
                //- "weight":0,
                //- "length":0,
                //- "height":0,
                //- "width":0,
                //- "quantity":0,
                //- "tags":null,
                //- "is_featured_product":0,
                //- "is_free":0,
                //- "product_code":null,
                //- "extra_properties":null,
                //- "is_approved":1,
                //- "from_date":null,
                //- "to_date":null,
                //- "notes":"...",
                //- "product_id__desc":"2014 Shiraz"]
                
                
                
                

            #pastac-edit-product-tab-details.tab-pane
              br
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              |  Details
              #productVariant_detailsDiv
                
                
                
                
                

            #pastac-edit-product-tab-pricing.tab-pane
              br
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              .alert.alert-danger(ng-hide="variant.is_deleted || !variant.is_free") Are you sure you really want the effort of shipping a product for free?

              .form-group
                .checkbox
                  label
                    input(type="checkbox" ng-model="variant.is_free" ng-true-value="1" ng-false-value="0")
                    | This product is free

              div(ng-hide="variant.is_free==1")
                      
                table.table-condensed
                  tr
                    td Our price
                    td 
                      input.form-control(ng-model="variant.last_price" type='text', placeholder='123.45')
                  tr
                    td Manufacturer price (RRP)
                    td
                      input.form-control(ng-model="variant.manufacturer_price" type='text', placeholder='123.45')


                br
                br
                div(ng-if="variant._productPricing_list.length == 0")
                  .actions-wrap
                    a.btn(ng-click="addPricing_BRKQTY()") Add quantity pricing
                div(ng-repeat="price in variant._productPricing_list")
                  div(ng-if="price.type == 'BRKQTY'")
                    h3
                      | Additional Rule - Break on Quantity
                      small &nbsp;&nbsp;&nbsp;&nbsp;(\#{{price.pricing_id}})
                    br
                    table.table
                      tr
                        th &nbsp;&nbsp;Qty
                        th &nbsp;&nbsp;Price
                        th
                          | Available for shared sale.
                      tr(ng-repeat="pq in price._pricingQty")
                        td
                          input.form-control(ng-model="pq.quantity", type='number')
                        td
                          input.form-control(ng-model="pq.price", type='number')
                        td.text-center
                          .checkbox-inline
                            input(type="checkbox" ng-model="pq.shared_sale_ok" ng-true-value="1" ng-false-value="0")
                    .actions-wrap
                      a.btn(ng-click="addPricingQty(price)") Add another quantity
                  div(ng-if="price.type == 'DSCAMT'")
                    | Rule {{price.pricing_id}} - Discount by Amount
                  div(ng-if="price.type == 'DSCPCT'")
                    | Rule {{price.pricing_id}} - Discount by Percent

              //- Components qty
              //- 1
              //-
              //- Last price
              //- 50
              //-
              //- Wholesale price
              //- 0
              //-
              //- Is free


            #pastac-edit-product-tab-notes.tab-pane
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              br
              #productVariant_notesDiv



            #pastac-edit-product-tab-related.tab-pane
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              h3 related



            #pastac-edit-product-tab-specs.tab-pane
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              br
              .card(ng-repeat="category in variant._specTypesOptionsAndValues.categories")
                h4 Category: {{category.category_name}}
                table.table-condensed.pastac-edit-product-specification-table
                  tr(ng-repeat="type in category.category_specification_types")
                    td
                      | {{type.name}}
                      span(ng-hide="!type.uom") &nbsp;({{type.uom}})
                    td
                      div(ng-switch="type.data_type")

                        // Integer specification type
                        div(ng-switch-when="INT")
                          input(type="number" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")

                        // Decimal specification type
                        div(ng-switch-when="DEC")
                          input(type="number" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")
                            
                        // text specification type
                        div(ng-switch-when="TXT")
                          input(type="text" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")

                        // List of options
                        div(ng-switch-when="OPT")
                          select(ng-model="type._selectedOption" ng-options="option.value for option in type.options" ng-change="ctrl.doSelectSpecificationOption(variant, category, type)")
                          //- br
                          //- select
                          //-   option(value="")
                          //-   optgroup(label="----------")
                          //-   option(ng-repeat="option in type.options" value="hello" selected="selected" ng-click="ctrl.doSelectSpecificationOption(type, option)") {{option.value}}
                //- table
                br


            #pastac-edit-product-tab-images.tab-pane
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              br
              div(ng-repeat="image in variant._productVariantImage_list")
                .col-md-4
                  img.img-responsive.thumbnail(ng-src="{{image.image_path}}")


          //- form-group
        //- col-md-6

      hr
      .actions-wrap
        a.btn(ng-click="product_backButton()") Back to product list
        a.btn(ng-click="productVariant_backButton()" ng-hide="productVariant_showList()") Back to variant list
        a.btn.btn-success(ng-click="productSaveButton()") Save
      //- actions-wrap
    //- card
