block content
  
  .pastac-edit-product

    .alert.alert-warning(ng-hide="ctrl.product") Unknown product

    // Pane for single record
    .card(ng-hide="!ctrl.product")
      .row
        .col-md-12
          .alert.alert-danger(ng-hide="!ctrl.errmsg") {{ctrl.errmsg}}
          h1 {{ctrl.product.supplier_id__desc}}
          h2 {{ctrl.product.name}}
          //- small
          //-   | {{ctrl.product}}
          .pull-right
            |  &nbsp;&nbsp;&nbsp;
            a.btn.btn-success(ng-click="ctrl.doSave()") Save
          
          a.product-button.pull-right(ng-hide="!ctrl.productButton" ng-click="ctrl.doProductButton(ctrl.product)") {{ctrl.productButton}}
          
          ul.nav.nav-tabs
            li.active
              a(data-target="#tab-product-summary" data-toggle="tab") Summary
            li
              a(data-target="#tab-product-details" data-toggle="tab") Details
            li
              a(data-target="#tab-product-description" data-toggle="tab") Description
            li
              a(data-target="#tab-product-notes" data-toggle="tab") Tasting Notes
          br
          //- .actions-wrap.hide.NOTYET
          //-   a.btn(ng-click="product_backButton()") Back to product list
          //-   a.btn(ng-click="productVariant_backButton()" ng-hide="productVariant_showList()") Back to variant list
          //-   a.btn.btn-success(ng-click="productSaveButton()") Save
          //- actions-wrap

          .tab-content.clearfix
            // Product summary pane
            #tab-product-summary.tab-pane.active

              //- br
              //- | {{ctrl.categoryTags}}
              //- br
              //- | {{ctrl.product.long_description}}
              strong.inline Product Id:
              | &nbsp; {{ctrl.product.product_id}}
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              strong.inline Category:&nbsp;&nbsp;
              span(ng-repeat="category in ctrl.categoryTags")
                span(ng-hide="$index==0") ,&nbsp;
                | {{category.text}}
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              strong.inline Short Description:
              | &nbsp; {{ctrl.product.short_description}}
              br
              br
              strong Description
              div(ng-bind-html="ctrl.product.long_description")
              //- strong Tasting notes
              //- div(ng-bind-html="ctrl.product.notes")

              
              

            // Product details pane
            #tab-product-details.tab-pane
              .row
                .col-md-6
                  .form-group

                    label(for='product-name') Name
                    input#product-name.form-control(ng-model="ctrl.product.name" type='text', placeholder='Name')

                  label Categories
                  // See http://mbenford.github.io/ngTagsInput/documentation/api#tagsInput
                  tags-input.product-categories(ng-model="ctrl.categoryTags" on-tag-added="ctrl.doAddCategory($tag)" on-tag-removed="ctrl.doRemoveCategory($tag)" add-from-autocomplete-only="true" placeholder="Add a category")
                    auto-complete(source="ctrl.loadCategoryTags($query)" min-length="1" max-results-to-show="20" load-on-empty="true" load-on-focus="false")

                    //- label(for='product-popularity') Popularity
                    //- input#product-popularity.form-control(ng-model="ctrl.product.popularity" type='text', placeholder='')
                    //- br
                    //- 
                    //- label(for='product-teaIdAtSource') TEA Id at source
                    //- input#product-teaIdAtSource.form-control(ng-model="ctrl.product.teaIdAtSource" type='text', placeholder='teaIdAtSource')
                    //- br
                  .form-group
                    label(for='product-shortDescription') Short Description
                    input#product-shortDescription.form-control(ng-model="ctrl.product.short_description" type='text', placeholder='Will use product name')
                    br
                .col-md-6
                  .form-group
                    label(for='product-metaTitle') SEO Title
                    input#product-metaTitle.form-control(ng-model="ctrl.product.metaTitle" type='text', placeholder='title meta tag')
                    br

                    label(for='product-metaDescription') SEO Description
                    input#product-metaDescription.form-control(ng-model="ctrl.product.metaDescription" type='text', placeholder='description meta tag')
                    br

                    label(for='product-metaKeywords') SEO Keywords
                    input#product-metaKeywords.form-control(ng-model="ctrl.product.metaKeywords" type='text', placeholder='keyword tags')
                    br

                      

            //
            // Product details pane
            //
            #tab-product-description.tab-pane
              .row
                .col-md-12
                    label(for='product-longDescription') Full Description
                    //input#product-longDescription.form-control(ng-model="ctrl.product.long_description" type='text', placeholder='')
                    // See https://github.com/lemonde/angular-ckeditor
                    div(ckeditor="ckeditorOptions", ng-model="ctrl.product.long_description", ready="onReady()")
                    br
                  
            // Metadata pane
            #tab-product-notes.tab-pane
              .form-group
                label(for='product-notes') Tasting Notes
                //input#product-notes.form-control(ng-model="ctrl.product.notes" type='text', placeholder='Enter notes here')
                // See https://github.com/lemonde/angular-ckeditor
                div(ckeditor="ckeditorOptions", ng-model="ctrl.product.notes", ready="onReady()")
                br

      //
      //  Now show the variants of this product
      //
      .row(ng-repeat="variant in ctrl.variants")
        .col-md-12
          hr
        .col-md-4
          h3
            | {{variant.manufacturer}}
          h4
            | {{variant.name}}
            br
            | pack size {{variant.components_qty}}
          //- | Deleted:
          //- toggle(ng-model="variant.is_deleted" onstyle="btn-danger" offstyle="btn-success" on="Deleted" off="Available")
          //- br
          //- br

          //- div(ng-repeat="image in variant._productVariantImage_list")
          img.img-responsive.thumbnail.center-block(ng-if="variant._selectedImage" ng-src="{{variant._selectedImage._512x512}}" Zstyle="max-width:512px;max-height:512px;")

          
          
          
          
          
        .col-md-8
          button.btn.danger.pull-right(ng-hide="!variant.is_deleted") Deleted
          // See http://ziscloud.github.io/angular-bootstrap-toggle/
          toggle(ng-hide="variant.is_deleted" ng-model="variant.is_approved" onstyle="btn-success" offstyle="btn-info" on="Active" off="Inactive" size="btn-sm").pull-right
          ul.nav.nav-tabs
            li.active
              a(data-target="#pastac-edit-product-tab-summary-{{variant.product_variant_id}}" data-toggle="tab") Summary
            li
              a(data-target="#pastac-edit-product-tab-details-{{variant.product_variant_id}}" data-toggle="tab") Details
            li
              a(data-target="#pastac-edit-product-tab-pricing-{{variant.product_variant_id}}" data-toggle="tab") Pricing
            li
              a(data-target="#pastac-edit-product-tab-images-{{variant.product_variant_id}}" data-toggle="tab") Images
            li
              a(data-target="#pastac-edit-product-tab-specs-{{variant.product_variant_id}}" data-toggle="tab") Specifications
            //- li
            //-   a(data-target="#pastac-edit-product-tab-notes-{{variant.product_variant_id}}" data-toggle="tab") Notes
            //li
            //  a(data-target="#pastac-edit-product-tab-related-{{variant.product_variant_id}}" data-toggle="tab") Related
            //li
            //  a(data-target="#pastac-edit-product-tab-supplier-{{variant.product_variant_id}}" data-toggle="tab") Supplier

          .tab-content.clearfix



            //
            //    Variant details pane
            //
            div(id="pastac-edit-product-tab-summary-{{variant.product_variant_id}}").tab-pane.active
              br
              .alert.alert-danger(ng-hide="!variant.is_deleted") This product has been deleted
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.

              a.variant-button.pull-right(ng-hide="!ctrl.variantButton" ng-click="ctrl.doVariantButton(ctrl.product,variant)") {{ctrl.variantButton}}
              strong.inline Variant Id:
              | &nbsp; {{variant.product_variant_id}}
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              strong Pack size:
              | &nbsp;&nbsp;{{variant.components_qty}}
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


              br
              br
              
              
              p(ng-hide="!variant.is_free") This product is free

              div(ng-hide="variant.is_free==1")
                      
                table.table-condensed.price-summary-table
                  tr
                    th.col1 Qty
                    th Price
                    th
                  tr
                    td.col1 1
                    td {{variant.last_price}}
                    td Our price
                  tr
                    td.col1 1
                    td {{variant.manufacturer_price}}
                    td Manufacturer price (RRP)


                br
                div(ng-repeat="price in variant._productPricing_list")
                  div(ng-if="price.type == 'BRKQTY'")
                    strong Volume Pricing
                    sup &nbsp;&nbsp;&nbsp;(\#{{price.pricing_id}})
                    br
                    table.table-condensed.price-summary-table
                      tr
                        th.col1 &nbsp;&nbsp;Qty
                        th &nbsp;&nbsp;Price
                        th Available for shared sale.
                      tr(ng-repeat="pq in price._pricingQty")
                        td.col1 {{pq.quantity}}
                        td {{pq.price}}
                        td.text-center
                          span(ng-hide="pq.shared_sale_ok") no
                          span(ng-hide="!pq.shared_sale_ok") yes
                  div(ng-if="price.type == 'DSCAMT'")
                    | Rule {{price.pricing_id}} - Discount by Amount
                  div(ng-if="price.type == 'DSCPCT'")
                    | Rule {{price.pricing_id}} - Discount by Percent
                  
                  
                  
                  
                  

                  //- "components_qty":12,
                  //- "last_price":269.28,
                
                //- [{"product_variant_id":444,
                //- "product_id":384,
                //- "is_deleted":false,
                //- "name":"2014 Shiraz",
                //- "tea_id_at_source":null,
                //- "wholesale_price":0,
                //- "manufacturer_price":0,
                //- "cost_price":null,
                //- "sku":null,
                //- "manufacturer":"Brokenwood Wines",
                //- "manufacturer_sku":null,
                //- "supplier_sku":null,
                //- "barcode":null,
                //- "weight":0,
                //- "length":0,
                //- "height":0,
                //- "width":0,
                //- "quantity":0,
                //- "tags":null,
                //- "is_featured_product":0,
                //- "is_free":0,
                //- "product_code":null,
                //- "extra_properties":null,
                //- "is_approved":1,
                //- "from_date":null,
                //- "to_date":null,
                //- "notes":"...",
                //- "product_id__desc":"2014 Shiraz"]
                
                
                
                
            //
            //    Variant Details pane
            //
            div(id="pastac-edit-product-tab-details-{{variant.product_variant_id}}").tab-pane
              br
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.

              .row
                .col-md-12
                  .form-group
                    label(for='product-metaTitle') Name
                    input#product-metaTitle.form-control(ng-model="variant.name" type='text', placeholder='title meta tag')
                    br
              .row
                .col-md-6
                  .form-group
                    label(for='product-metaKeywords') Quantity
                    input#product-metaKeywords.form-control(ng-model="variant.quantity" type='number', placeholder='Quantity on hand')
                    br

                    label(for='product-metaTitle') Our SKU
                    input#product-metaTitle.form-control(ng-model="variant.sku" type='text', placeholder='')
                    br
                      
                    label(for='product-metaDescription') Manufacturer
                    input#product-metaDescription.form-control(ng-model="variant.manufacturer" type='text', placeholder='')
                    br
                                            
                    label(for='product-metaDescription') Manufacturer SKU
                    input#product-metaDescription.form-control(ng-model="variant.manufacturer_sku" type='text', placeholder='')
                    br

                    label(for='product-metaKeywords') Supplier SKU
                    input#product-metaKeywords.form-control(ng-model="variant.supplier_sku" type='text', placeholder='')
                    br
                .col-md-6
                  .form-group
                    
                    label(for='product-metaKeywords') Barcode
                    input#product-metaKeywords.form-control(ng-model="variant.barcode" type='text', placeholder='')
                    br

                    label(for='product-metaKeywords') Weight
                    input#product-metaKeywords.form-control(ng-model="variant.weight" type='text', placeholder='kgs')
                    br
                    
                    label(for='product-metaKeywords') Length
                    input#product-metaKeywords.form-control(ng-model="variant.length" type='text', placeholder='')
                    br
                    label(for='product-metaKeywords') Height
                    input#product-metaKeywords.form-control(ng-model="variant.height" type='text', placeholder='')
                    br
                    label(for='product-metaKeywords') Width
                    input#product-metaKeywords.form-control(ng-model="variant.width" type='text', placeholder='')
                    br
                
                
                //- product_variant_id"
                //- "is_deleted":false,

                //- "wholesale_price":0,
                //- "manufacturer_price":0,

                //- "cost_price":null,

                //- "tea_id_at_source":null,
                //- "tags":null,

                //- "is_featured_product":0,
                //- "is_free":0,
                //- "product_code":null,
                //- "extra_properties":null,
                //- "is_approved":1,
                //- "from_date":null,
                //- "to_date":null,
                //- "notes":"...",

                
                
                
                
                
            //
            //    Pricing pane
            //
            .tab-pane.pricing(id="pastac-edit-product-tab-pricing-{{variant.product_variant_id}}")
              br
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              .alert.alert-danger(ng-hide="variant.is_deleted || !variant.is_free") Are you sure you really want the effort of shipping a product for free?

              .form-group
                .checkbox
                  label
                    input(type="checkbox" ng-model="variant.is_free" ng-true-value="1" ng-false-value="0")
                    | This product is free

              div(ng-hide="variant.is_free==1")
                      
                table.table-condensed
                  tr
                    td Our price
                    td 
                      input.form-control(ng-model="variant.last_price" type='text', placeholder='123.45')
                  tr
                    td Manufacturer price (RRP)
                    td
                      input.form-control(ng-model="variant.manufacturer_price" type='text', placeholder='123.45')
                  tr
                    td Wholesale price
                    td
                      input.form-control(ng-model="variant.wholesale_price" type='text', placeholder='123.45')


                br
                // So what do we have here?
                //  1. The variant contains a pricing table (_productPricing_list).
                //    There are different types of pricing tables, but here we
                //    only handle "Break on Quantity" (i.e. volume pricing).
                //  2. The pricing list contains pricing_qty records.
                div(ng-if="variant._productPricing_list.length == 0")
                  .actions-wrap
                    a.btn(ng-click="ctrl.addPricing_BRKQTY(variant)") Add quantity pricing
                div(ng-repeat="price in variant._productPricing_list")
                  div(ng-if="price.type == 'BRKQTY'")
                    h4 Break on Quantity
                      small &nbsp;&nbsp;&nbsp;&nbsp;(\#{{price.pricing_id}})
                    br
                    table.table
                      tr
                        th &nbsp;&nbsp;Qty
                        th &nbsp;&nbsp;Price
                        th
                          | Available for shared sale.
                      tr(ng-repeat="pq in price._pricingQty")
                        td
                          input.form-control(ng-model="pq.quantity", type='number')
                        td
                          input.form-control(ng-model="pq.price", type='number')
                        td.text-center
                          .checkbox-inline
                            input(type="checkbox" ng-model="pq.shared_sale_ok" ng-true-value="1" ng-false-value="0")
                    .actions-wrap
                      a.btn(ng-click="ctrl.addPricingQty(variant, price)") Add another quantity
                  div(ng-if="price.type == 'DSCAMT'")
                    | Rule {{price.pricing_id}} - Discount by Amount
                  div(ng-if="price.type == 'DSCPCT'")
                    | Rule {{price.pricing_id}} - Discount by Percent



            //
            //    Notes pane
            //
            //- div(id="pastac-edit-product-tab-notes-{{variant.product_variant_id}}").tab-pane
            //-   .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
            //-   br
            //-   #productVariant_notesDiv
            //-   .form-group
            //-     label(for='product-notes') Tasting Notes
            //-     //input#product-notes.form-control(ng-model="variant.notes" type='text', placeholder='Will use product notes')
            //-     // See https://github.com/lemonde/angular-ckeditor
            //-     div(ckeditor="ckeditorOptions", ng-model="ctrl.product.notes", ready="onReady()")
            //-     br



            //
            //    Related products pane
            //
            //- #pastac-edit-product-tab-related.tab-pane
            //-   .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
            //-   h3 related


            //
            //    Specs pane
            //
            .tab-pane.specs(id="pastac-edit-product-tab-specs-{{variant.product_variant_id}}")
              .alert.alert-info(ng-hide="variant.is_deleted || variant.is_approved") Warning: This product will not be displayed on the site until it is switched to Active.
              br
              .card(ng-repeat="category in variant._specTypesOptionsAndValues.categories")
                h4 Category: {{category.category_name}}
                table.table-condensed.pastac-edit-product-specification-table
                  tr(ng-repeat="type in category.category_specification_types")
                    td
                      | {{type.name}}
                      span(ng-hide="!type.uom") &nbsp;({{type.uom}})
                    td
                      div(ng-switch="type.data_type")

                        // Integer specification type
                        div(ng-switch-when="INT")
                          input(type="number" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")

                        // Decimal specification type
                        div(ng-switch-when="DEC")
                          input(type="number" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")
                            
                        // text specification type
                        div(ng-switch-when="TXT")
                          input(type="text" ng-model="type._currentValue" ng-change="ctrl.doSetSpecificationValue(variant, category, type)" ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }")

                        // List of options
                        div(ng-switch-when="OPT")
                          select(ng-model="type._selectedOption" ng-options="option.value for option in type.options" ng-change="ctrl.doSelectSpecificationOption(variant, category, type)")
                          //- br
                          //- select
                          //-   option(value="")
                          //-   optgroup(label="----------")
                          //-   option(ng-repeat="option in type.options" value="hello" selected="selected" ng-click="ctrl.doSelectSpecificationOption(type, option)") {{option.value}}
                //- table
                br

                  
            //
            //    Images pane
            //
            div(id="pastac-edit-product-tab-images-{{variant.product_variant_id}}").tab-pane
              div(ng-hide="variant.is_deleted || variant.is_approved")
                br
                .alert.alert-info Warning: This product will not be displayed on the site until it is switched to Active.
                //.button(ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" Zngf-resize="{width: 100, height: 100}")
                //div(ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'") DRAG
                //br

              .image-loader(Zng-hide="!isMyProfilePage()", id="postComposer")
                .head
                  a(href="#pastac-edit-product-tab-load-image", role="tab", data-toggle="tab")
                    i.fa.fa-picture-o
                    | Upload Image
                //- head
                .content
                  
                  .tab-pane#pastac-edit-product-tab-load-image(role="tabpanel")

                    //.drop-photo(ngf-select="upload($file)" ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'image/*,video/*'")
                    .drop-photo.drop-box(ngf-select ngf-drop ng-model="ctrl.file" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-pattern="'image/*,video/*'" Zng-hide="!ctrl.showDropArea()" ng-hide="ctrl.haveFile()")
                      i.fa.fa-picture-o
                      br
                      span Select File
                      span(ng-show="ctrl.dropAvailable") &nbsp;or Drop File
                    //- drop-photo
                    
                    img.img-responsive(ngf-src="ctrl.file || '/assets/images/cleardot.png'" style="max-height: 400px")
                    video(controls ngf-src="ctrl.file")
                    #percentage
                      #progress(ng-hide="!ctrl.showProgressBar()")
                        .small.green
                          br
                          | Loading {{ctrl.filename}}
                          | &nbsp;&nbsp;&nbsp; size={{ctrl.filesize}} bytes
                          | &nbsp;&nbsp;&nbsp; ({{ctrl.getPercentage()}}% complete)
                          br
                          .progress(style="height: 10px;")
                            .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="{{getPercentage()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( ctrl.getPercentage() + '%' ) }")
                              .sr-only {{ctrl.getPercentage()}}% Complete (warning)
                      #processing(ng-hide="!ctrl.showProcessing()")
                        .small.green
                          br
                          i.fa.fa-refresh.fa-spin.fa-fw
                          //  .sr-only Loading...
                          | Processing image
                  //- .tab-pane
                //- .content

                .controls(ng-hide="!ctrl.haveFile()")
                  // The next line sets the height of the footer,
                  // when all else is hidden
                  a &nbsp;

                  a.post(ng-click="ctrl.cancelPost()" ng-hide="!ctrl.haveFile()" ng-disabled="ctrl.showProgressBar() || ctrl.showProcessing()")
                    i.fa.fa-remove
                    | Cancel
                  a.post(ng-click="ctrl.doUploadImage(variant, ctrl.file)" ng-hide="!ctrl.haveFile()" ng-disabled="ctrl.showProgressBar() || ctrl.showProcessing()")
                    i.fa.fa-send-o
                    | Upload
                  //- a
                //- controls

              br
              .row
                .col-md-3(ng-repeat="image in variant._productVariantImage_list")
                  //- img.img-responsive.thumbnail(ng-src="{{image._thumbnail}}" ng-class="{disabled-product-image: image.is_displayed == '1'}")
                  img.img-responsive.thumbnail.product-image(ng-src="{{image._thumbnail}}" ng-class="{'disabled-product-image': !image.is_displayed, 'selected-product-image': image == variant._selectedImage}" ng-click="ctrl.doSelectImage(variant,image)")
                  a.pull-left(ng-hide="$index==0 || !image.is_displayed" ng-click="ctrl.doToggleIsDisplayed(variant, image)") visible
                  a.pull-left(ng-hide="$index==0 || image.is_displayed"  ng-click="ctrl.doToggleIsDisplayed(variant, image)") hidden
                  a.pull-right(ng-hide="$index==0" href="#" ng-click="ctrl.doSetAsDefaultProductImage(variant, image)") default
                  .text-center
                    small(ng-hide="$index!=0" href="#") this is the default image
                  p.text-center(ng-hide="!image._size")
                    | {{image._size}}
                  //- br
                  //- | {{image.is_displayed}} / {{image.sort_id}}


          //- form-group
        //- col-md-6

      //- hr
      //- .actions-wrap
      //-   a.btn(ng-click="product_backButton()") Back to product list
      //-   a.btn(ng-click="productVariant_backButton()" ng-hide="productVariant_showList()") Back to variant list
      //-   a.btn.btn-success(ng-click="productSaveButton()") Save
      //- actions-wrap
    //- card
